.homeFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.homeFormWrapper {
  /* padding-top: 10px; */

  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.homeFormHead {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forName {
  color: white;
  margin: auto 5px;
  font-size: 13px;
}
#name {
  height: 18px;
  color: white;
}
.categories {
  color: white;
}
