.homeFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 520px;
}
.homeFormWrapper {
  display: flex;
  align-items: center;
  width: 95%;
  height: 95%;
}
.formField {
  flex: 1;
  height: 100%;
}
.catGallary {
  flex: 2;
  height: 100%;
  border-left: rgba(204, 204, 204, 0.1) solid 2px;
}
@media only screen and (max-width: 700px) {
  .homeFormWrapper {
    display: block;
  }
  .formField {
    height: 70%;
  }
  .catGallary {
    height: 30%;
    border-left: none;
    border-top: rgba(204, 204, 204, 0.1) solid 2px;
  }
}
